@layer DSUnanimo{
:root
{
	--spacing_inset-xs : 4px;
	--spacing_inset-s : 8px;
	--spacing_inset-m : 16px;
	--spacing_inset-l : 32px;
	--spacing_stack-xs : 2px;
	--spacing_stack-s : 4px;
	--spacing_stack-m : 8px;
	--spacing_stack-l : 16px;
	--spacing_stack-xl : 24px;
	--spacing_stack-xxl : 32px;
	--spacing_stack-xxxl : 64px;
	--spacing_stack-xxxxl : 128px;
	--spacing_inline-xs : 2px;
	--spacing_inline-m : 4px;
	--spacing_inline-l : 8px;
	--spacing_inline-xl : 16px;
	--spacing_inline-xxl : 24px;
	--spacing_inline-xxxl : 32px;
	--spacing_letter-spacing-xs : 0.2px;
	--spacing_letter-spacing-s : 0.4px;
	--spacing_letter-spacing-m : 0.8px;
	--spacing_letter-spacing-l : 1.6px;
	--spacing_letter-spacing-xl : 3.2px;
	--fonts_primary-light : SourceSansPro-Light;
	--fonts_primary-regular : SourceSansPro-Regular;
	--fonts_primary-semibold : SourceSansPro-SemiBold;
	--fonts_primary-bold : SourceSansPro-Bold;
	--fontsizes_xs : 11px;
	--fontsizes_s : 14px;
	--fontsizes_m : 18px;
	--fontsizes_l : 22px;
	--fontsizes_xl : 28px;
	--borders_extra-small : 1px;
	--borders_small : 2px;
	--shadows_xxxs : 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
	--shadows_xxs : 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
	--shadows_xs : 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
	--shadows_s : 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
	--shadows_m : 0px 6px 10px 0px rgba(0, 0, 0, 0.14);
	--shadows_l : 0px 8px 10px 1px rgba(0, 0, 0, 0.14);
	--shadows_xl : 0px 9px 12px 1px rgba(0, 0, 0, 0.14);
	--shadows_xxl : 0px 12px 17px 2px rgba(0, 0, 0, 0.14);
	--radius_xs : 1px;
	--radius_s : 2px;
	--radius_m : 3px;
	--radius_l : 4px;
	--radius_xl : 6px;

}

:root:is([gx-data-color-scheme="light"],:not([gx-data-color-scheme]))
{
	--colors_primary : #1AAB8A;
	--colors_secondary : #f3f4f6;
	--colors_tertiary : #eeb30d;
	--colors_quaternary : #61ac26;
	--colors_quinary : #276f2f;
	--colors_surface : #ffffff;
	--colors_alt-surface : #f3f4f6;
	--colors_surface-negative : #121212;
	--colors_elevation-01 : var(--colors_surface);
	--colors_elevation-02 : var(--colors_surface);
	--colors_elevation-03 : var(--colors_surface);
	--colors_elevation-04 : var(--colors_surface);
	--colors_primary-enabled : var(--colors_primary);
	--colors_primary-active : #23592A;
	--colors_primary-hover : #23592A;
	--colors_primary-hover-20 : #D9F3DC;
	--colors_primary-disabled : var(--colors_gray03);
	--colors_secondary-enabled : var(--colors_secondary);
	--colors_secondary-active : #f3f4f6;
	--colors_secondary-hover : #D1D2D4;
	--colors_secondary-disabled : var(--colors_gray03);
	--colors_gray01 : #e0e0e0;
	--colors_gray02 : #c3c4c8;
	--colors_gray03 : #939498;
	--colors_gray04 : #575965;
	--colors_error-dark : #f02031;
	--colors_error-light : #ffeaee;
	--colors_warning-dark : #ff8000;
	--colors_warning-light : #ffe7e6;
	--colors_success-dark : #02a08b;
	--colors_success-light : #e1f3f1;
	--colors_destructive : #f44336;
	--colors_zebra-grid : #fafafa;
	--colors_on-primary : var(--colors_secondary);
	--colors_on-secondary : var(--colors_quinary);
	--colors_on-background : #000000;
	--colors_on-alert : var(--colors_surface-negative);
	--colors_on-disabled : var(--colors_gray02);
	--colors_border-primary-enabled : var(--colors_primary);
	--colors_border-primary-active : var(--colors_primary-active);
	--colors_border-primary-hover : var(--colors_primary-hover);
	--colors_border-primary-disabled : var(--colors_gray03);
	--colors_border-secondary-enabled : var(--colors_secondary);
	--colors_border-secondary-active : var(--colors_secondary-active);
	--colors_border-secondary-hover : var(--colors_secondary-hover);
	--colors_border-secondary-disabled : var(--colors_gray03);
	--colors_border-gray-01 : var(--colors_gray01);
	--colors_border-gray-02 : var(--colors_gray02);
	--colors_border-gray-03 : var(--colors_gray03);
	--colors_border-gray-04 : var(--colors_gray04);
	--colors_border-error : var(--colors_error-dark);
	--colors_border-warning : var(--colors_warning-dark);
	--colors_border-success : var(--colors_success-dark);

}

[gx-data-color-scheme="dark"]
{
	--colors_primary : #a9acf8;
	--colors_secondary : #34334e;
	--colors_surface : #121212;
	--colors_alt-surface : #1c1c1e;
	--colors_surface-negative : #ffffff;
	--colors_elevation-01 : #242426;
	--colors_elevation-02 : #2c2c2e;
	--colors_elevation-03 : #353537;
	--colors_elevation-04 : #3e3e40;
	--colors_primary-enabled : var(--colors_primary);
	--colors_primary-active : #858af6;
	--colors_primary-hover : #ccccfb;
	--colors_primary-hover-20 : #5a5edc33;
	--colors_primary-disabled : var(--colors_gray03);
	--colors_secondary-enabled : var(--colors_secondary);
	--colors_secondary-active : #666483;
	--colors_secondary-hover : #53516e;
	--colors_secondary-disabled : var(--colors_gray03);
	--colors_gray01 : #575965;
	--colors_gray02 : #939498;
	--colors_gray03 : #c3c4c8;
	--colors_gray04 : #e0e0e0;
	--colors_error-dark : #f9464e;
	--colors_error-light : #ffeaee;
	--colors_warning-dark : #ffab13;
	--colors_warning-light : #ffe7e6;
	--colors_success-dark : #50beae;
	--colors_success-light : #e1f3f1;
	--colors_destructive : #ef5350;
	--colors_zebra-grid : #323234;
	--colors_on-primary : var(--colors_surface);
	--colors_on-secondary : #e9e9e9;
	--colors_on-background : var(--colors_on-secondary);
	--colors_on-alert : var(--colors_surface);
	--colors_on-disabled : var(--colors_gray02);
	--colors_border-primary-enabled : var(--colors_primary);
	--colors_border-primary-active : var(--colors_primary-active);
	--colors_border-primary-hover : var(--colors_primary-hover);
	--colors_border-primary-disabled : var(--colors_gray03);
	--colors_border-secondary-enabled : var(--colors_secondary);
	--colors_border-secondary-active : var(--colors_secondary-active);
	--colors_border-secondary-hover : var(--colors_secondary-hover);
	--colors_border-secondary-disabled : var(--colors_gray03);
	--colors_border-gray-01 : var(--colors_gray04);
	--colors_border-gray-02 : var(--colors_gray03);
	--colors_border-gray-03 : var(--colors_gray02);
	--colors_border-gray-04 : var(--colors_gray01);
	--colors_border-error : var(--colors_error-dark);
	--colors_border-warning : var(--colors_warning-dark);
	--colors_border-success : var(--colors_success-dark);

}
}